<div class="card">
    <h5 class="card-header">Clientes</h5>
    <div class="card-body">
      <h5 class="card-title">Listado de clientes:</h5>

      <div class="mb-3">
        
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']" routerLinkActive="router-link-active" >Nuevo Cliente</button>
      </div>

      <div *ngIf="clientes?.length == 0" class="alert alert-info">
        No hay registros en la base de datos.

      </div>

      <table class="table table-bordered" *ngIf="clientes?.length != 0">
        <thead>
            <tr>
                <th  scope="col">Avatar</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">email</th>
                <th scope="col">id</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">

                <td>
                  <img *ngIf="cliente?.avatar"
                  class="img img-thumbnail rounded"
                  src="{{cliente?.avatar}}" alt="{{cliente.avatar}}"
                  style="width: 64px; cursor: pointer;">
                </td>
                <td>{{cliente.name}}</td>
                <td>{{cliente.email}}</td>
            </tr>
        </tbody>
      </table>
      
    </div>
  </div>