<div class="card">
    <h5 class="card-header">Clientes</h5>
    <div class="card-body">
      <h5 class="card-title">Listado de clientes:</h5>

      <div class="mb-3 ">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']" routerLinkActive="router-link-active" >Nuevo Cliente</button>
        <button class="btn btn-rounded btn-success mx-3" type="button" [routerLink]="['/clientes/nuevo-pedido']" routerLinkActive="router-link-active" >Nuevo Pedido</button>

      </div>

  

      <div *ngIf="clientes?.length == 0" class="alert alert-info">
        No hay registros en la base de datos.

      </div>

      <table class="table table-bordered" *ngIf="clientes?.length != 0">
        <thead>
            <tr>
                <th  scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">email</th>
                <th scope="col">direccion</th>
                <th scope="col">id cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellido}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.direccion}}</td>
              <td>{{cliente.id}}</td>
            </tr>
        </tbody>
      </table>
      
    </div>
  </div>